<ion-header text-center>
  <ion-toolbar>
    <ion-title>
      สร้างข้อมูลพระ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card>

    ข้อมูลพระ
    <ion-row>

      <ion-col>
        <ion-item>
          <ion-label>ประเภทพระ</ion-label>
          <ion-input placeholder="กรุณากรอกประเภทพระ"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>ชื่อพระ</ion-label>
          <ion-input placeholder="กรุณากรอกชื่อพระ"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>ชื่อพิมพ์</ion-label>
          <ion-input placeholder="กรุณากรอกชื่อพิมพ์"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-item>
          <ion-label>มวลสาร</ion-label>
          <ion-input placeholder="กรุณากรอกมวลสาร"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>ชื่อพระที่ปลุกเสก</ion-label>
          <ion-input placeholder="กรุณากรอกชื่อพระที่ปลุกเสก"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>วันที่ปลุกเสก</ion-label>
          <ion-input placeholder="กรุณากรอกวันที่ปลุกเสก"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-item>
          <ion-label>วัดที่ปลุกเสก</ion-label>
          <ion-input placeholder="กรุณากรอกวัดที่ปลุกเสก"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>จังหวัด</ion-label>
          <ion-input placeholder="กรุณากรอกจังหวัด"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>วันที่ปลุกเสก</ion-label>
          <ion-input placeholder="กรุณากรอกวันที่ปลุกเสก"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-card>

  <ion-card>
    ข้อมูลเจนรหัส
    <ion-row>

        <ion-col>
            <ion-item>
              <ion-label>รหัสนำ</ion-label>
              <ion-input placeholder="กรุณากรอกรหัสนำ"></ion-input>
            </ion-item>
          </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>ครั้งที่เจนรหัสในเดือน</ion-label>
          <ion-input placeholder="กรุณากรอกครั้งที่เจนรหัสในเดือน"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>จำนวนที่เจนรหัส</ion-label>
          <ion-input placeholder="กรุณากรอกจำนวนที่เจนรหัส"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-card>
  <ion-button shape="round">ตกลง</ion-button>



</ion-content>