<ion-header>
  <ion-toolbar>
    <ion-title>seeData</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>เลขซีเรียสพระ : {{ serial }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ประเภทพระ : {{ typeAmulet }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ชื่อพระ : {{ nameMonk }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ชื่อพิมพ์ : {{ shapeAmulet }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>มวลสาร : {{ compoundAmulet }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ชื่อพระที่ปลุกเสก : {{ nameMonk }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>วันที่ปลุกเสก : {{ dateConsecrate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>จังหวัด : {{ temple }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ชื่อเจ้าภาพ : {{ nameHost }}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>